$gothic = 'YuGothic', '游ゴシック', 'Yu Gothic', '游ゴシック Medium', 'Yu Gothic Medium', 'ヒラギノ⾓ゴ Pro', 'Hiragino Kaku Gothic Pro', 'MS PGothic', sans-serif
$serif = 'Noto Serif JP', serif
$font_ttl = $serif
$font_en = $serif

$COLOR_BASE = #000
$COLOR_MAIN = #CEA547

$pc = 1366
$tab = 1080
$WIDTH_SP = 768

$CONTAINER_WIDTH = 1000
$WIDTH_SPacing = 40
$WIDTH_SPacing_sp = 20

$fz_pc = 14
$fz_sp = 26

$OPACITY_HOVER = 0.75
$shadow = 0 4px 10px rgba(#000000, 0.14)

$z_Pagetop = 10
$z_Btn_Contact = 10
$z_Hbg = 101
$z_Header = 100
$z_Gnav = 99
$z_Loading = 1000
$transition = 0.3s cubic-bezier(0.66, 0, 0.34, 1)